
@font-face {
    font-family: "Trickster";
    src: url('../src/assets/fonts/Daydream.ttf');
}

body {
    margin: 0;
    font-family: "Trickster";
}

 .btn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
} 

#download-button {
    display: flex;
    flex-direction: column;
    border: none;
    background: black;
    color: red;
    font-size: 1.5rem;
    align-items: center;
    text-transform: uppercase ;
    text-decoration: none;
    padding: 8px;
    font-style: italic;
    border-radius: 20px;
    border: 10px solid darkgray;
    width: 100%;
}

#download-button img {
    width: 100%;
    object-fit: contain;
    height: 5rem;
}

#download-button span:nth-child(2) {
    animation: bubbles;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bubbles {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

#tap-to-shoot {
    position: absolute;
    font-family: 'Trickster';
    font-size: 15px;
    text-align: center;
    width: 100%;
    animation-name: bubbles;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: black;
    display: flex;
    flex-direction: column;
}

#tap-to-shoot span:nth-child(2) {
    font-size: 25px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #B80000;
}